<div class="card-body">
	<form novalidate #productForm="ngForm">
		<fieldset>
			<legend>Basic Product Information</legend>

			<div class="form-group row">
				<label class="col-md-2 col-form-label"
               for="productNameId">Land Name</label>
				<div class="col-md-8">
					<input class="form-control"
                 id="productNameId"
                 type="text"
                 placeholder="Name (required)"
                 required
                 minlength="3"
                 [(ngModel)]=product.productName
                 name="productName"
                 #productNameVar="ngModel"
                 [ngClass]="{'is-invalid': (productNameVar.touched || 
                                            productNameVar.dirty ||
                                            product.id !== 0) && 
                                            !productNameVar.valid }" />
					<span class="invalid-feedback">
            <span *ngIf="productNameVar.errors?.required">
              Land name is required.
            </span>
					<span *ngIf="productNameVar.errors?.minlength">
              Land name must be at least three characters.
            </span>
					</span>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-2 col-form-label"
               for="productCodeId">Land Code</label>
				<div class="col-md-8">
					<input class="form-control"
                 id="productCodeId"
                 type="text"
                 placeholder="Code (required)"
                 required
                 [(ngModel)]=product.productCode
                 name="productCode"
                 #productCodeVar="ngModel"
                 [ngClass]="{'is-invalid': (productCodeVar.touched || 
                                            productCodeVar.dirty ||
                                            product.id !== 0) &&
                                            !productCodeVar.valid }" />
					<span class="invalid-feedback">
            <span *ngIf="productCodeVar.errors?.required">
              Land code is required.
            </span>
					</span>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-2 col-form-label"
               for="descriptionId">Description</label>
				<div class="col-md-8">
					<textarea class="form-control"
                    id="descriptionId"
                    placeholder="Description"
                    rows=3
                    [(ngModel)]=product.description
                    name="description"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2 col-form-label"
               for="releaseDate">Available From</label>
				<div class="col-md-8">
					<textarea class="form-control"
                    id="releaseDate"
                    placeholder="Date posted"
                    rows=1
                    [(ngModel)]=product.releaseDate
                    name="releaseDate"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2 col-form-label"
               for="price">Price</label>
				<div class="col-md-8">
					<textarea class="form-control"
                    id="price"
                    placeholder="Land Price"
                    rows=1
                    [(ngModel)]=product.price
                    name="price"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2 col-form-label"
               for="price">Contact Details</label>
				<div class="col-md-8">
					<textarea class="form-control"
                    id="contactDetails"
                    placeholder="Contact Person Details"
                    rows=1
                    [(ngModel)]=product.contactDetails
                    name="contactDetails"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2 col-form-label"
               for="price">Phone Number</label>
				<div class="col-md-8">
					<textarea class="form-control"
                    id="phoneNumber"
                    placeholder="Phone Number"
                    rows=1
                    [(ngModel)]=product.phoneNumber
                    name="phoneNumber"></textarea>
				</div>
			</div>
		</fieldset>
	</form>
</div>

<div class='alert alert-danger' *ngIf='errorMessage'>{{errorMessage}}
</div>